body {
    background-color: #000;
    font-family: 'Poppins', sans-serif;
}

h1 {
    color: #FF4081;
    text-align: center;
    margin-top: 50px;
}

p {
    color: #fff;
    font-size: 18px;
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 80%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}

.subreddit {
    font-weight: bold;
    color: #FF4081;
}