<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MemeTropolis</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>A website to gather some memes!</h1>
    <p>Here is your meme! This will refresh in <span id="countdown">30</span> seconds!</p>
    <p><img src="{{ meme_pic }}"></p>
    <p>Current Subreddit: <span class="subreddit">{{ subreddit }}</span></p>

    <script>
        var countdown = 30;

        function updateCountdown() {
            var countdownElement = document.getElementById("countdown");
            countdownElement.innerText = countdown;

            if (countdown > 0) {
                countdown--;
                setTimeout(updateCountdown, 1000);
            } else {
                location.reload();
            }
        }

        updateCountdown();
    </script>
</body>
</html>